ion-toolbar {
    text-align: center;
}

.container2 {
    margin: 0;
    width: 100%;
    max-width: 600px;
    justify-content: center;
}

.icon {
    float: left;
    justify-content: center;
    padding-right: 4px;
    padding-bottom: 10px;
}

.encabezado {
    font-size: 15px;
}

.descripcion {
    font-size: 14px;
}

@media (min-width: 632px) and (max-width: 800px) {

    .container2 {
        margin: 0 12%;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {

    .container2 {
        margin: 0 20%;
    }
}

@media (min-width: 1000px) {

    .container2 {
        margin: 0 33.33%;
        max-width: 800px;
    }
}
