.container {
    margin: 0;
    width: 97%;
    justify-content: center;
}

.icon {
    float: left;
    justify-content: center;
    padding-right: 4px;
    padding-bottom: 10px;
}

.titulo {
    float: left;
    margin: auto;
    padding-left: 10px;
    padding-bottom: 15px;
    display: inline;
}

.encabezado {
    font-size: 15px;
}

.descripcion {
    font-size: 14px;
}