ion-toolbar{
  background-color: var(--ion-color-moradilloclaro);
}
ion-button {
  background-color: var(--ion-color-moradillo);
}

.titulo{
  text-align: center;
  font-size: 30px;
}

.bienvenido {
  color: rgb(250, 248, 248);
  text-align: center;
}

ion-card-subtitle {
  padding-top: 20px;
  text-align: center;
}

ion-icon {
  padding-right: 10px;
}
