<ion-header [translucent]="true">
  <ion-toolbar color="moradilloclaro"> 
    <ion-title>
      <p class="bienvenido">¡Bienvenid@!</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title class="titulo">Iniciar sesión</ion-card-title>
    <ion-card-subtitle>Ingrese sus datos a continuación:</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="formularioLogin">
      <ion-item>
        <ion-icon name="person-sharp"></ion-icon>
        <ion-input placeholder="Nombre de usuario:" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-sharp"></ion-icon>
        <ion-input type="password" placeholder="Contraseña:" formControlName="password"></ion-input>
      </ion-item>
    </form>
    <br><br>
    <ion-button (click)="ingresar()" color="moradillo">
      <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>
<br>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" [routerLink]= "['/registro']" color="moradillo">
      ¿No tienes cuenta? Registarte aquí
    </ion-button>
  </ion-toolbar>
</ion-footer>

