<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>¡Bienvenid@!</h1>
      <p>Inicie sesión para registrar asistencia</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" text-right id="input" #nombre></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" #clave ></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button size="default" color="success" class="login-button" (click)="ingresar(nombre, clave)">Ingresar</ion-button>
      <p class="forgot">¿Olvidaste tu contraseña? <a routerLink="/recuperar-cuenta">Recupérala</a></p>
      <ion-button class="signup-button" [routerLink]= "['/registro']" size="block"><ion-text>Registarse</ion-text></ion-button>
    </div>
  </div>
</ion-content>
