<ion-header>
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="comments.length > 0">
    <ion-list>
      <div *ngFor="let buscar of comments">
        <ion-item>
          <ion-label>
            {{buscar.id}}
            {{buscar.name}}
            {{buscar.body}}
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" [routerLink]= "['/posts']">
      Volver
    </ion-button>
  </ion-toolbar>
</ion-footer>
