<ion-header>
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="comments.length > 0">
    <ion-list>
      <div *ngFor="let buscar of comments">
        <ion-item>
          <div class="container2">
            <p class="encabezado">
              <img class="icon" src="https://i.ibb.co/VJbzgdn/bubble-chat.png" alt="usuario" width="15%" height="100%">
            </p>
            <p>
              <strong>Usuario {{buscar.id}}:</strong> {{buscar.name}}
            </p>
            <p class="descripcion"><strong>Comentario:</strong> {{buscar.body}}
            </p>
                
          </div>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
    <center>
    <ion-button [routerLink]= "['/posts']">
      <div size="large">volver</div>
    </ion-button>
  </center>
</ion-footer>
