<ion-content>
  <div class="signup-section ion-padding">
    <div class="heading ion-padding">
      <h2>¡Bienvenido al registro!</h2>
      <p>Ingrese sus credenciales para registrarse</p>
    </div>
    <div class="signup-form ion-padding">
      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="user" #nombre></ion-input>
        </ion-item>
      </div>
      <p class="mensajePass">* Su contraseña por defecto es: "1234".</p>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button class="signup-button" (click)="registro(nombre)" size="block"><ion-text>Registarse</ion-text></ion-button>
      <p>¿Ya tienes una cuenta?</p>
      <ion-button size="default" color="success" class="login-button" routerLink="/home">Inicia Sesión</ion-button>
    </div>
  </div>
</ion-content>
